---
import BaseLayout from '../layouts/BaseLayout.astro';
import Link from '../components/Link';

import {
  author,
  jobTitle,
  cleanJobTitle
} from '../config/site.ts';


const title = "Résumé Overview | " + author + " - " + jobTitle;
const description = "Download or view the résumé of " + author + ", " + cleanJobTitle + " specializing in developer tooling, embedded software, and systems-level engineering. Highlights experience across compilers, runtime systems, and hardware-software co-design."
const keywords = author +", compiler engineer, systems engineer, résumé, cv, developer tooling, embedded systems, code generation, system simulation, hardware-software co-design";
const localImage = "/og/resume.png";
---
<BaseLayout
  title={title}
  description={description}
  keywords={keywords}
  localImage={localImage}
>
  <section class="card">
    <!-- Text Content -->
    <div>
      <h1>Résumé Overview</h1>

      <p>
        Welcome to the résumé overview of {author}, {cleanJobTitle} specializing in developer tooling, embedded platforms, and systems engineering. You may download the latest version of my résumé below, or explore selected project highlights for a deeper view into my work.
      </p>

      <Link href="/resume" download class="cta-button">
        Download Résumé (PDF)
      </Link>

      <h2>Résumé Highlights</h2>

      <p>Key areas of experience and interest include:</p>

      <ul>
        <li><strong>Specialization:</strong> Compiler development, embedded software, hardware-software co-design</li>
        <li><strong>Expertise:</strong> Code generation, toolchains, runtime systems, system simulation</li>
        <li><strong>Key Roles:</strong> Lead Software Architect and Expert Software Engineer at Imsys</li>
        <li><strong>Education:</strong> MSc in Computer Science, <Link href="https://www.elte.hu/en/">Eötvös Loránd University</Link> (Budapest, Hungary) — Graduated with distinction</li>
        <li><strong>Technical Leadership:</strong> Cross-functional team leadership, system architecture definition, strategic project delivery</li>
      </ul>

      <p>
        Looking for detailed project work? <Link href="/portfolio">Explore my project portfolio</Link>.
      </p>
    </div>
  </section>
</BaseLayout>
