---
import "../styles/tailwind.css";
import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {
  title = "Dávid Juhász - Compiler & Systems Engineer",
  description = "Welcome to the personal website of Dávid Juhász, a compiler and systems engineer specializing in compilation, toolchains, runtime systems, and hardware-software integration. Explore my work, insights, and blog.",
  keywords = "Dávid Juhász, compiler engineer, systems engineer, code generation, embedded systems, runtime systems, toolchain developer, low-level software, systems programming, hardware acceleration, portfolio, blog",
  canonical = null,
  image = null, // Optional full URL for og:image
  localImage = "/og/default.png", // local path for og:image, used if image is null, relative to `public/`
  type = "website", // defines content type: e.g., website, article, profile (see og:type)
  headline = null, // headline for blog posts, only used if type === "article"
  datePublished = null, // publication date for blog posts, only used if type === "article"

  // Below should not change normally. If any does, check also in the SEO component.
  author = "Dávid Juhász",
  localMeImage = "/images/me.jpg",
  structuredPersonSameAs = [
    "https://www.linkedin.com/in/juhaszdavid",
    "https://github.com/juhda"
  ],
  jobTitle = "Compiler & Systems Engineer",
  worksForOrgName = null,
  siteName = `${author} - ${jobTitle}`
} = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" href="/favicon-dark.png" media="(prefers-color-scheme: dark)" />

    <!-- Analytics -->
    {import.meta.env.MODE === 'production' && (
      <script data-goatcounter="https://stats.davidjuhasz.dev/count"
        async src="//gc.zgo.at/count.js"></script>
    )}

    <SEO
      title={title},
      description={description},
      keywords={keywords},
      canonical={canonical},
      image={image},
      localImage={localImage},
      type={type},
      headline={headline},
      datePublished={datePublished},
      author={author},
      localMeImage={localMeImage},
      structuredPersonSameAs={structuredPersonSameAs},
      jobTitle={jobTitle},
      worksForOrgName={worksForOrgName},
      siteName={siteName}
    />

  </head>
  <body class="flex flex-col h-screen bg-bg text-primary font-sans">
    <Header
      title={title}
    />

    <!-- Main content takes remaining height -->
    <main
      class={`flex-1 overflow-hidden ${
        Astro.props.noPadding ? 'w-full h-full' : 'p-4 max-w-4xl mx-auto'
      }`}
    >
      <slot />
    </main>

    <Footer
      author={author}
    />
  </body>
</html>
